@import url(../vendor/mdi/materialdesignicons.css);
.mdi.mdi-dark {
  color: rgba(0, 0, 0, 0.54);
}

.mdi.mdi-dark.mdi-inactive {
  color: rgba(0, 0, 0, 0.26);
}

.mdi.mdi-light {
  color: white;
}

.mdi.mdi-light.mdi-inactive {
  color: rgba(255, 255, 255, 0.3);
}

.ripple {
  height: 160px;
  width: 160px;
  position: absolute;
  border-radius: 50%;
  background-color: rgba(136, 136, 136, 0.5);
  transform: scale(0);
  transform-origin: center;
}

.ripple.active {
  animation: element-ripple 200ms ease-in-out 1;
}

.no_scroll {
  overflow-y: hidden;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
}

main {
  z-index: 4;
  width: 40%;
  height: 2840px;
  background-color: white;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.3);
}

main nav {
  position: fixed;
  height: 55px;
  width: 40%;
  background-color: white;
  border-bottom: 2px solid rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
  z-index: 5;
}

main nav #dot-menu-container {
  position: relative;
  height: 45px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 0 20px;
}

main nav #dot-menu-container.active {
  overflow: visible;
}

main nav #dot-menu-container ul#dot-menu {
  position: absolute;
  z-index: 7;
  list-style: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 0;
  margin: 0;
  top: 5px;
  left: 5px;
  background-color: white;
  box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.2);
  font: normal lighter .9rem 'Helvetica', sans-serif;
  transform: scale(0);
  transition: all ease-in-out 200ms;
  transform-origin: left;
}

main nav #dot-menu-container ul#dot-menu.active {
  transform: scale(1);
}

main nav #dot-menu-container ul#dot-menu li {
  padding: 10px 7px 10px 7px;
  min-width: 170px;
}

main nav #dot-menu-container ul#dot-menu li i {
  transform: translateY(5px);
  margin: auto 10px auto 5px;
}

main nav #dot-menu-container ul#dot-menu li i::before {
  transform: translateY(4px);
}

main nav #search-bar {
  position: relative;
  margin: 0 17px 0 12px;
  height: 37px;
  padding-left: 35px;
  width: calc(87% - 35px);
  background-color: #ebebeb;
  border-radius: 8px;
  transition: all ease-in-out 200ms;
}

main nav #search-bar i {
  margin: 7px auto auto -27px;
  position: absolute;
}

main nav #search-bar input {
  width: 98%;
  height: 90%;
  margin-top: 2px;
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
}

main nav #search-bar.active {
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.25);
}

main nav #search-bar .search-result {
  cursor: pointer;
  width: 100%;
  background-color: #ebebeb;
  padding: 9px 0 9px 35px;
  font: normal normal 1rem 'Arial', sans-serif;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25), -3px 3px 3px rgba(0, 0, 0, 0.25);
  transform: translate(-35px, 3px);
}

main nav #search-bar .search-result:nth-last-of-type(1) {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

main .topic-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  align-content: flex-start;
  min-width: 100%;
  min-height: 220px;
}

main .topic-wrapper:nth-of-type(1) {
  padding-top: 55px;
}

main .topic-wrapper .topic-box {
  height: 170px;
  width: 320px;
  margin: 30px auto 30px auto;
  padding: 10px;
  border-radius: 3px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font: bold normal 1.5rem Arial, sans-serif;
  color: #777;
  background-color: #f7f7f7;
  cursor: pointer;
  transition: all ease-in-out 220ms;
  box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.19);
}

main .topic-wrapper .topic-box .details {
  font: normal normal 1.1rem Arial, sans-serif;
}

main .topic-wrapper .topic-box .details ul.primary {
  list-style: none;
  line-height: 2;
  padding: 0;
}

main .topic-wrapper .topic-box .details ul.primary li {
  display: flex;
  flex-flow: column nowrap;
  height: 90px;
}

main .topic-wrapper .topic-box .details ul.primary li.small {
  height: 50px;
}

main .topic-wrapper .topic-box .details ul.primary li div.topic {
  position: absolute;
  margin-left: 55px;
  padding-top: 2px;
  max-width: 97%;
}

main .topic-wrapper .topic-box .details ul.primary li div.topic ul {
  list-style: disc;
  padding-left: 30px;
}

main .topic-wrapper .topic-box .details ul.primary li div.topic ul li {
  height: auto;
}

main .topic-wrapper .topic-box .details ul.primary label {
  position: relative;
  cursor: pointer;
  width: 50px;
  padding-top: 5px;
  display: flex;
  align-items: center;
}

main .topic-wrapper .topic-box .details ul.primary label span {
  margin: -5px 0 0 10px;
}

main .topic-wrapper .topic-box .details ul.primary label .checkbox-ripple {
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #666;
  opacity: 0;
  top: -2px;
  left: -7px;
  transform-origin: center;
}

main .topic-wrapper .topic-box .details ul.primary label .checked {
  display: none;
}

main .topic-wrapper .topic-box .details ul.primary label .unchecked {
  display: block;
}

main .topic-wrapper .topic-box .details ul.primary label input[type='checkbox'] {
  display: none;
}

main .topic-wrapper .topic-box .details ul.primary label input[type='checkbox']:checked + .unchecked {
  display: none;
}

main .topic-wrapper .topic-box .details ul.primary label input[type='checkbox']:checked + .unchecked + .checked {
  display: block;
}

main .topic-wrapper .topic-box .details ul.primary label input[type='checkbox']:checked + .unchecked + .checked + .checkbox-ripple {
  animation-name: ripple;
  animation-duration: 350ms;
  animation-fill-mode: none;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

main .topic-wrapper .topic-box button {
  padding: 8px 12px 8px 12px;
  transform: rotateX(90deg);
  perspective: -500px;
  perspective-origin: left;
  transform-origin: top;
  position: absolute;
  top: 0;
  left: 85%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border: none;
  font: normal normal 1.15rem 'Arial', sans-serif;
  color: white;
  box-shadow: 0 0 3px 4px rgba(0, 0, 0, 0.12);
  background-color: #982222;
}

main .topic-wrapper .topic-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 12px -3px rgba(0, 0, 0, 0.16);
}

main .topic-wrapper .topic-box .details {
  display: none;
}

main .topic-wrapper .topic-box.calling {
  transform: translateY(-6px);
  box-shadow: 0 9px 10px 3px rgba(0, 0, 0, 0.13);
}

main .topic-wrapper .topic-box.active {
  overflow-y: auto;
  display: block;
  padding: 2%;
  text-align: left;
  position: absolute;
}

main .topic-wrapper .topic-box.active .details {
  display: block;
}

main .topic-wrapper .topic-box.active:hover {
  transform: none;
}

main .topic-wrapper .topic-box.active > button {
  animation-name: flip;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
  animation-delay: 1.6s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}

main .topic-wrapper .topic-box.reset {
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  position: relative;
  box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.19);
}

main .topic-wrapper .topic-box.reset .details {
  display: none;
}

main .topic-wrapper .topic-box.reset > button {
  animation: none;
}

main .topic-wrapper span {
  letter-spacing: 1px;
  margin: auto auto auto 30px;
  font: normal normal 1rem Arial, sans-serif;
}

header {
  z-index: 1;
  position: fixed;
  height: 100%;
  width: 60%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-image: url("file:images/edu.jpg");
  background-size: cover;
  background-position: center;
  font: normal normal 1.2rem Arial, sans-serif;
}

header #title-divider {
  width: 400px;
  height: 1px;
  background-color: rgba(68, 68, 68, 0.4);
}

header footer {
  font: normal normal 0.9rem Arial, sans-serif;
  color: #888;
}

header footer mark {
  background-color: transparent;
  font: normal normal 1.1rem Arial, sans-serif;
}

@keyframes flip {
  75% {
    transform: rotateX(-30deg);
  }
  82% {
    transform: rotateX(-30deg);
  }
  100% {
    transform: rotateX(0);
  }
}

@keyframes checkbox-ripple {
  0% {
    transform: scale(0);
  }
  70% {
    opacity: .6;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes element-ripple {
  100% {
    transform: scale(1);
  }
}

@keyframes fadeout {
  100% {
    opacity: 0;
  }
}
