@import "../vendor/mdi/materialdesignicons.css"

//material design dark according to guidelines: http://goo.gl/vkRHaV
@mixin standard-font($size)
  font: normal normal $size Arial, sans-serif

$search-bar-border: rgba(0,0,0,0.3)

.mdi.mdi-dark
  color: rgba(0,0,0,0.54)
.mdi.mdi-dark.mdi-inactive
  color: rgba(0,0,0,0.26)

//material design light according to guidelines: http://goo.gl/vkRHaV
.mdi.mdi-light
  color: rgba(255,255,255,1)
.mdi.mdi-light.mdi-inactive
  color: rgba(255,255,255,0.3)

.ripple
  height: 160px
  width: 160px
  position: absolute
  border-radius: 50%
  background-color: transparentize(#888, .5)
  transform: scale(0)
  transform-origin: center
  &.active
    animation: element-ripple 200ms ease-in-out 1
.noscroll
  // This class exists because overriding the equivalent property
  // in JavaScript was problematic
  overflow-y: hidden
html, body, .react-main
  height: 100%
  width: 100%
  margin: 0
  display: flex
  overflow-x: hidden
main
  overflow-y: scroll
  z-index: 4
  width: 40%
  background-color: white
  box-shadow: 5px 0 5px rgba(0,0,0,0.3)
  nav
    position: fixed
    width: 40%
    background-color: #5e6896
    border-bottom: 2px solid rgba(0,0,0,0.12)
    display: flex
    z-index: 5
    transition: all ease-in-out 50ms
    #dot-menu-container
      position: relative
      height: 45px
      width: 45px
      display: flex
      align-items: center
      justify-content: center
      border-radius: 50%
      font: normal lighter .95rem 'Helvetica', sans-serif
      margin: 5px auto 0 10px
      #dot-menu-icon
        margin-right: 10px
      .generic.ripple
        transform-origin: center
        transform: scale(0)
        background-color: rgba(255,255,255,0.5)
        border-radius: 50%
        &.animating
          animation: ripple-normal 300ms ease-in-out 1
      ul#dot-menu
        position: absolute
        z-index: 7
        list-style: none
        border-radius: 3px
        cursor: pointer
        padding: 0
        margin: 0
        top: 5px
        left: 5px
        background-color: white
        box-shadow: 0 5px 20px 3px rgba(0,0,0,0.2)
        transform: scale(0)
        transition: all ease-in-out 100ms
        transform-origin: left
        li
          padding: 10px 7px 10px 7px
          min-width: 170px
          i
            transform: translateY(5px)
            margin: auto 10px auto 5px
            &::before
              transform: translateY(4px)
    #search-bar
      position: relative
      margin: 8px 17px 0 12px
      height: 37px
      padding-left: 35px
      width: calc(87% - 35px)
      background-color: #ebebeb
      border-radius: 8px
      transition: all ease-in-out 200ms
      i
        margin: 7px auto auto -27px
        position: absolute
      input
        width: 98%
        height: 90%
        margin-top: 2px
        background-color: transparent
        border: none
        outline: none
        box-shadow: none
      &.active
        box-shadow: 0 0 3px 3px rgba(0,0,0,0.25)
    #search-filter-container
      position: absolute
      display: flex
      flex-flow: row nowrap
      height: 40px
      width: calc(100% - 60px)
      top: 50px
      padding: 0 0 0 60px
      .search-filter-tab
        height: 20px
        padding: 10px
        overflow: hidden
        font: normal normal 17px 'Helvetica', sans-serif
        color: white
      #tab-marker
        position: absolute
        top: 38px
        height: 2px
        background-color: white
        transition: all ease-out 250ms
  .element-wrapper
    display: flex
    align-items: center
    justify-content: flex-start
    align-content: flex-start
    min-width: 100%
    min-height: 220px
    .element-card
      padding: 10px
      border-radius: 3px
      position: relative
      display: flex
      justify-content: center
      align-items: center
      text-align: center
      top: 0
      font: bold normal 1.5rem Arial, sans-serif
      color: #777
      background-color: darken(white, 3)
      cursor: pointer
      transition: all ease-in-out 220ms
      box-shadow: 0 3px 6px 1px rgba(0,0,0,0.19)
      .details
        @include standard-font(1.1rem)
        padding-bottom: 40px
        display: none
        ul.primary
          list-style: none
          line-height: 2
          padding: 0
          li
            display: flex
            flex-flow: column nowrap
            height: 90px
            &.small
              height: 50px
            div.topic
              position: absolute
              margin-left: 55px
              padding-top: 2px
              max-width: 97%
              ul
                list-style: disc
                padding-left: 30px
                li
                  height: auto
          label
            position: relative
            cursor: pointer
            width: 50px
            padding-top: 5px
            display: flex
            align-items: center
            span
              margin: -5px 0 0 10px
            .checkbox-ripple
              position: absolute
              height: 40px
              width: 40px
              border-radius: 50%
              background-color: #666
              opacity: 0
              top: -2px
              left: -7px
              transform-origin: center
            .checked
              display: none
            .unchecked
              display: block
            input[type='checkbox']
              display: none
              &:checked + .unchecked
                display: none
                + .checked
                  display: block
                  + .checkbox-ripple
                    animation-name: checkbox-ripple
                    animation-duration: 350ms
                    animation-fill-mode: none
                    animation-timing-function: ease-in-out
                    animation-iteration-count: 1
      button
        padding: 8px 12px 8px 12px
        transform: rotateX(90deg)
        perspective: -500px
        perspective-origin: left
        transform-origin: top
        position: absolute
        top: 0
        left: 85%
        border-bottom-left-radius: 4px
        border-bottom-right-radius: 4px
        border: none
        font: normal normal 1.15rem 'Arial', sans-serif
        color: white
        box-shadow: 0 0 3px 4px rgba(0,0,0,0.12)
        background-color: mix(darken(red, 30), brown, 20)
      &.active
        overflow-y: auto
        display: block
        padding: 2%
        text-align: left
        position: absolute
        .details
          display: block
        &:hover
          transform: none
        & > button
          animation-name: flip
          animation-duration: 300ms
          animation-fill-mode: forwards
          animation-delay: 1.6s
          animation-timing-function: ease-in-out
          animation-iteration-count: 1
      &.inactive
        overflow-y: hidden
        display: flex
        justify-content: center
        position: relative
        box-shadow: 0 3px 6px 1px rgba(0,0,0,0.19)
        .details
          display: none
        & > button
          animation: none
    span
      letter-spacing: 1px
      margin: auto auto auto 30px
      @include standard-font(1rem)
header
  color: white
  z-index: 1
  position: fixed
  height: 100%
  width: 60%
  margin-left: 40%
  text-align: center
  display: flex
  justify-content: center
  flex-wrap: wrap
  flex-direction: column
  align-items: center
  background-image: url('images/5.png')
  background-size: cover
  background-position: center
  @include standard-font(1.2rem)
  #title-divider
    width: 400px
    height: 1px
    background-color: transparentize(white, .5)
  footer
    @include standard-font(.9rem)
    color: #888
    mark
      background-color: transparent
      @include standard-font(1.1rem)
@keyframes flip
  75%
    transform: rotateX(-30deg)
  82%
    transform: rotateX(-30deg)
  100%
    transform: rotateX(0)
@keyframes checkbox-ripple
  0%
    transform: scale(0)
  70%
    opacity: .6
    transform: scale(1)
  100%
    opacity: 0
    transform: scale(1)
@keyframes element-ripple
  100%
    transform: scale(1)
@keyframes fadeout
  100%
    opacity: 0
@keyframes ripple-normal
  100%
    transform: scale(1)
    opacity: 0

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none)
  header
    margin-left: 0%
